<aside>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidemenu">
        <div class="offcanvas-header">
        <h3 class="offcanvas-title border-bottom border-info border-5">Menu</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
        <a class="fs-5 text-decoration-none" href="/" data-bs-dismiss="offcanvas">Home</a>
        <br>
        <a class="fs-5 text-decoration-none" href="/ViewAll?page=1" data-bs-dismiss="offcanvas">View All</a>
        <br>
        <a class="fs-5 text-decoration-none" href="/Search" data-bs-dismiss="offcanvas">Search</a>
        <br>
        <a class="fs-5 text-decoration-none" href="/RecentViews" data-bs-dismiss="offcanvas">Recent Views</a>
        <br>
        </div>
    </div>

</aside>