<header class="d-flex flex-row justify-content-between header-container">
    <button class="btn m-1 justify-self-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidemenu">
        <div>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </button>
    <div class="align-self-center">
        <h1 class="text-info fw-bold me-5">SuperPedia</h1>
    </div>
    <div>a</div>
</header>